.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}


.song {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin-left: 25px;
    color: black;
}


.direction {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    color: black;
    padding: 8px;
}


.direction:hover {
    background-color: lightyellow;
    color: darkred;
}


.name {
    font-weight: bold;
    font-size: 18px;
    color: black;
}


.mar {
    color: royalblue;
}

.giu {
    color: darkgreen;
}

.gio {
    color: darkorange;
}

.all {
    color: purple;
}


.all {
    font-style: italic;
}

/* Table styling */
.cast {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cast th,
.cast td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

.cast th {
    background-color: #444;
    color: white;
}

.cast tr:nth-child(even) {
    background-color: #f2f2f2;
}


.name:hover {
    text-shadow: 3px 3px 8px crimson;
    border: 3px solid gold;
    padding: 4px;
    border-radius: 8px;
    transition: 0.3s ease;
}